html{
    scroll-behavior: smooth;
}

div{
    scroll-margin-top: 80px;   
}

.nav{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: sticky;
    top: 0;
    background-color: azure;
    z-index: 10;
    /* margin-top: 20px; */
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 10px;
}



.navbar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* gap: 100px; */
}

.navbar .active{
    /* border-top: 2px solid black; */
    /* background-color: green; */
    color: blue;
    /* padding: 20px; */
}