.process{
    font-family: "Asap", serif;
    
}

.design-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}


.servicesanimate .process1:hover,
.servicesanimate .process2:hover,
.servicesanimate .process3:hover,
.servicesanimate .process4:hover{
    transform: scale(1.1);
    box-shadow: 8px -1px 20px 0px black;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
    position: relative;
}

.process1,.process3{
    transition: 1s ;
    transform: translateX(-100%);
}

.process2,.process4{
    transition: 1s;
    transform: translateX(100%);
}


.servicesanimate .process1{
    transform: translateX(0);
}

.servicesanimate .process2{
    transform: translateX(0);
}

.servicesanimate .process3{
    transform: translateX(0);
}

.servicesanimate .process4{
    transform: translateX(0);
}

.whyembroidery{
    transition: 0.5s ease-out;
    color: white;
    transform: rotateY(90deg)
}
.servicesanimate .whyembroidery{
    transform: rotateY(0deg);
    color: black;
}

